div {
	position: relative;
	float: left;
    width: 400px;
    height: 250px;
	border: 2px solid red;
}

.nofloat {
	clear: both;
	padding: 20px;
}

      
.anim {
	position: relative;
	animation-name: movingImg;
	animation-timing-function: linear;
	animation-duration: 10s;
	animation-delay: 1s;
	animation-iteration-count: 2;
	animation-direction: alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes movingImg {
    0%   {opacity: 0; left:50px; top:0px;}
    25%  {opacity: 1; left:0px; top:50px;}
    50%  {opacity: 0; left:50px; top:100px;}
    75%  {opacity: 1; left:0px; top:100px;}
    100% {opacity: 0; left:50px; top:0px;}
}

/* Mozilla */
@-moz-keyframes movingImg {
    0%   {opacity: 0; left:50px; top:0px;}
    25%  {opacity: 1; left:0px; top:50px;}
    50%  {opacity: 0; left:50px; top:100px;}
    75%  {opacity: 1; left:0px; top:100px;}
    100% {opacity: 0; left:50px; top:0px;}
}

/* Standard syntax */
@keyframes movingImg {
    0%   {opacity: 0; left:50px; top:0px;}
    25%  {opacity: 1; left:0px; top:50px;}
    50%  {opacity: 0; left:50px; top:100px;}
    75%  {opacity: 1; left:0px; top:100px;}
    100% {opacity: 0; left:50px; top:0px;}
}

.transition-example {
	margin: 50px;
	-webkit-transition: -webkit-transform 4s;
	-moz-transition: -moz-transform 4s;
	-o-transition: -o-transform 4s;
	transition: transform 4s;
}

#transition img:hover {
	-webkit-transform: rotate(360deg) scale(2,2);
	-moz-transform: rotate(360deg) scale(2,2);
	-o-transform: rotate(360deg) scale(2,2);
	transform: rotate(360deg) scale(2,2);
}

.skew .skewingTomato 
         {
           
            -webkit-animation: skew 3s infinite linear;
            -moz-animation: skew 3s infinite linear;
            animation: skew 3s infinite linear;
         }
         @-webkit-keyframes skew 
         {
            from { -webkit-transform: skewX(0deg); }
            25% { -webkit-transform: skewX(45deg); }
            50% { -webkit-transform: skewX(0); }
            75% { -webkit-transform: skewX(-45deg); }
            to { -webkit-transform: skewX(0); }
         }
         @-moz-keyframes skew 
         {
            from { -moz-transform: skewX(0deg); }
            25% { -moz-transform: skewX(45deg); }
            50% { -moz-transform: skewX(0); }
            75% { -moz-transform: skewX(-45deg); }
            to { -moz-transform: skewX(0); }
         }
         @-keyframes skew 
         {
            from { transform: skewX(0deg); }
            25% { transform: skewX(45deg); }
            50% { transform: skewX(0); }
            75% { transform: skewX(-45deg); }
            to { transform: skewX(0); }
         }

#melt {
    position: relative;
    margin: 0 auto;	
}
#melt  img {
	position: absolute;
	left: 0;
	-webkit-transition: opacity 4s ease-in-out;
	transition: opacity 4s ease-in-out;
 }
 #melt  img.top:hover{ 
	opacity:0; 
}